name: Preprocessing Banknote Dataset

on:
  push:
    branches:
      - main      # trigger setiap push ke main branch
  workflow_dispatch:  # juga bisa trigger manual

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn matplotlib seaborn

      - name: Run preprocessing
        run: |
          cd preprocessing
          python automate_Anisa.py

      - name: Upload preprocessed dataset as artifact
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-data
          path: preprocessing/data_banknote_preprocessing.csv